/* SPDX-License-Identifier: GPL-2.0-only */
#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
101 RCDATA { 0x4e52, 0x3141, 0x0038, 0x0098 }
"NAMED" RCDATA { 0x414e, 0x454d, 0x0044 }
"MULTI" RCDATA { 0x4e45, 0x4c47 }
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
"MULTI" RCDATA { 0x4f4b, 0x4552 }
